<div class="page">
    <h1>Events</h1>

    <ul>
    <% @events.each do |event| %>
        <div class="event-container">
        <h2><%= link_to event.name, event_path(event) %></h2>

        <% if user_signed_in? %>
            <p>Creator: <%= link_to event.creator.first_name, user_path(event.creator) %></p>
        <% end %>  

        <p>Date: <%= event.date.strftime('%A, %B %d, %Y') %></p>
        <p><%= event.location %></p>
        </div>
    <% end %>
    </ul>
</div>
