/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
    margin: 0; /* Remove default body margin */
    font-family: 'Arial', sans-serif;
  }  
  
  a {
    padding: 0;
    margin: 0;
  }

 /* Navbar styles */
.navbar {
    background: linear-gradient(to right, #4CAF50, #2196F3);
    padding: 20px 0;
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
  }

  .navbar-collapse {
    display: flex;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .nav-link-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-link-button:hover {
    text-decoration: underline;
  }

  .content-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
  }

  .content {
    width: 1100px;
    flex-grow: 1; 
  }

  .right-sidebar, .left-sidebar {
    width: 300px;
    min-height: 50vh;
    background-color: #f0f0f0;
    padding: 10px; 
  }

  .page {
    max-width: 1200px;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  }
  
  .event-container {
    border: 1px solid #ddd;
    margin: 10px; 
    width: 250px;
    height: 250px;
    box-sizing: border-box; 
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .event-container h2 {
    margin-bottom: 10px;
  }
  
  .event-container p {
    margin: 5px 0;
  }

  /* left_sidebar */
  .users-events-container {
    width: 100%;
  }

  .custom-button {
    border: none;
    color: #333;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 0;
    font-size: 18px;
    position: relative;
    transition: background-color 0.3s; 
  }

  .custom-button::after {
    content: ''; 
    position: absolute; 
    bottom: -5px; 
    left: 0; 
    width: 100%;
    height: 5px; 
    background-color: #dcdcdc; 
    border-radius: 5px; 
    display: block; 
  }

  .custom-button.active::after {
    bottom: auto;
  }
  
  .custom-button:hover {
    color: #555; 
  }

  .users-attended-events ul, .users-created-events ul{
    list-style: none;
    padding: 0;
  }
  
  .users-attended-events li.event-item , .users-created-events li.event-item{
    margin: 5px;
  }
  
  .users-attended-events li.event-item a, .users-created-events li.event-item a {
    display: block;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .users-attended-events li.event-item a:hover, .users-created-events li.event-item a:hover  {
    background-color: #2980b9;
  }

  #userEvents.hidden {
    display: none;
  }

  #userEvents ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex: nowrap;
  }
  
  .event-item {
    margin-bottom: 15px;
  }
  
  .event-item a {
    text-decoration: none; 
    color: #333; 
    padding: 5px; 
    border: 1px solid #333;
    border-radius: 5px; 
    transition: background-color 0.3s, border-color 0.3s;
  }

  /* Attend/Unattend Form */
form {
  margin-top: 10px;
}

/* Delete and Edit Buttons */
.shared-btn {
  margin-top: 10px;
  margin-right: 10px;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger {
  background-color: #d9534f; /* Red for Delete */
}

.btn-primary {
  background-color: #5bc0de; /* Blue for Edit */
}

/* Hover effect for buttons */
.shared-btn:hover {
  background-color: #333;
}

/* Additional styles for the "You are already attending this event" message */
p.alert {
  color: #d9534f;
  font-weight: bold;
}

/* Events show page */
/* and containers */
.event-show-container, .user-show-container, .new-events-container, .edit-events-container, .event-form-container {
  border: solid black 2px;
  margin: 30px auto;
  width: 80%;
  padding: 15px;
  box-sizing: border-box; 
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.event-details-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.event-details-container p {
  margin: 10px 0;
  color: #333;
}

.event-details-container p:first-child {
  font-size: 1.2em;
  font-weight: bold;
  color: #0066cc;
}

.event-details-container p:nth-child(2) {
  font-size: 1.1em;
}

.event-details-container p:nth-child(3) {
  font-size: 1.1em;
  color: #009688;
}

.event-details-container p:last-child {
  font-style: italic;
  color: #777;
}

/* attendees section */

.attendees-section {
  margin-top: 20px;
}

.attendees-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.attendees-list {
  list-style: none;
  padding: 0;
}

.attendees-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.attendee-icon {
  width: 30px;
  height: 30px;
  background-color: #0066cc; /* Example color */
  border-radius: 50%;
  margin: 0 10px;
}

.attendee-icon::before {
  content: ""; /* You can add an icon or background image here */
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.attendees-list a {
  text-decoration: none;
  color: #0066cc; /* Link color */
  font-weight: bold;
  transition: color 0.3s;
}


.attendees-list a:hover {
  color: #004080; /* Darker color on hover */
}

.event-actions {
  display: flex;
}

/* users show page */
.user-details-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-details-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.user-details-container h3 {
  font-size: 18px;
  color: #555;
}

.user-events-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-events-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.user-events-container ul {
  list-style: none;
  padding: 0;
}

.user-events-container li {
  margin-bottom: 10px;
}

.user-events-container p {
  font-size: 16px;
  color: #555;
}

.user-events-container li.user-event-item {
  margin: 5px;
}

.user-events-container li.user-event-item a {
  display: block;
  padding: 15px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.user-events-container li.user-event-item a:hover {
  background-color: #2980b9;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.actions {
  margin-top: 15px;
}







